@using SportSchadule.Core.Models.Hall
@model HallAddViewModel

@{
    ViewBag.Title = "Add Hall";

}
<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Address...">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity"></label>
                <input asp-for="Capacity" class="form-control" placeholder="Capacity...">
                <span asp-validation-for="Capacity" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
