@using SportSchadule.Core.Models.Hall
@model HallInfoViewModel

@{
    ViewBag.Title = "Hall Info";
}

<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Address: ...</p>
        <p class="card-text">Capacity: @Model.Capacity</p>
        <p class="card-text">Places Left: @Model.PlacesLeft</p>
        <a href="#" class="btn btn-primary">Workout with us</a>
    </div>
</div>